<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="/css{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/homepage/css/typo.css" rel="stylesheet">
    <link href="/homepage/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="/homepage/css/syntax.css" rel="stylesheet" type="text/css" media="all">
    <link href="/homepage/css/pengx.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400' rel='stylesheet' type='text/css'>
    
    <!-- javascript files -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/homepage/js/pengx.js"></script>
    
    <!--link rel="shortcut icon" href="/homepage/image/favicon.ico"-->
    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->


  </head>

  <body>
    <header><a>placeholder</a></header>
    <nav class="menu">
      <a href="http://wuhu-ife.github.io/homepage/index.html">Home</a>
      <a href="http://wuhu-ife.github.io/homepage/cv.html">CV</a>
      <a href="http://wuhu-ife.github.io/homepage/research.html">Research</a>
      <a href="http://wuhu-ife.github.io/homepage/contact.html">Contact</a>
    </nav>
  </body>

</html>
