---
layout: default
---
{% include alm/setup %}
<script language="javascript">
$($("#research").children()[0]).css('color', '#EC6197');
</script>
<nav class="navbar navbar-default" role="navigation" style="margin:-21px">
	<div class="row container">
		<div class="col-md-8 col-md-offset-2">
			<ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include research/navigation_list %}
            </ul>
        </div>
    </div>
</nav>
<div class="row typo">
  <div class="col-md-8 col-md-offset-2">
    <br />
    {{ content }}
  </div>
</div>